body{
	background-color:#116466;
	color:#black;
}
/*body{
	color:white;
	background-image:url(../img/g3.jpg)!important;background-size:900px;
   
   }*/
.input{
border:1px solid black;
height:30px;
}
label{
	font-size:17.4px;
}

.margin{
    margin-top:25px;
}
.pi{
	background-color:#ffcb9a;
	color:black;
}
.room{
	color:white!important;
	font-size:40px;
}
.select{
	width:99%;
}